.fontStyle {
    font-family: 'Montserrat', sans-serif;
}

#errorImg {
    max-width: 150px;
    border-radius: 50%;
}

#detailCard {
    margin: 30px;
}

#apiCard {
    background: #9796f0;
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    background: linear-gradient(to right, #fbc7d4, #9796f0);
}

#apiCardBtn {
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    border: #CF8BF3;
}

#navbarImage {
    max-height: 30px;
}

#toastApi {
    width: 200px;
}

#addFormCard {
    border: rgba(103, 103, 103, 0.481) 1px solid;
}

#addFormCardInner {
    margin: 10px;
}

#addFormCardTitle {
    margin: 10px;
}

#linksCard {
    margin: 10px;
}

.navBarStyle {
    text-decoration: none;
    color: grey;
}